#jsconsole * { margin: 0; padding: 0; }
html#jsconsole  { height: 100%; background: #fff; }
body,#jsconsole { height: 100%; overflow: hidden; border: 0; margin: 0; padding: 0; font-family: "helvetica neue", arial, helvetica;  }
#jsconsole input, #jsconsole textarea { margin: 0; padding: 0; position: relative; font-size: 18px; padding: 2px; }

#jsconsole #console { position: absolute; left: 0; right: 0; width: 100%; bottom: 0; overflow: auto; border-bottom: 1px solid #5B5C5B; }
#jsconsole #console span.gutter { float: left; display: block; width: 5px; }

#jsconsole #output { font-family: monospace; list-style: none; }
#jsconsole #output li { margin: 5px 0; padding: 10px; border-top: 1px solid #EEEFEE; white-space: pre-wrap; }
#jsconsole #output li:last-child { border-bottom: 0;}
#jsconsole #output > li > div { margin-left: 20px; line-height: 20px; }

/* log types */
#jsconsole #output .echo span.gutter:before { content: '> '; color: #3583FC; font-size: 18px; font-weight: bold; }
#jsconsole #output .info span.gutter:before { content: 'i '; color: #27A700; font-size: 18px; font-weight: bold; }
#jsconsole #output .error span.gutter:before { content: '\0000D7 '; color: #E81D20; font-size: 28px; font-weight: bold; margin-right: -10px; line-height: 24px; }
#jsconsole #output .response span.gutter:before { content: '« '; color: #BDC3CD; font-size: 18px; font-weight: normal; margin-right: -10px; line-height: 18px; }

/* if response is directly next to echo, don't give it a line - only consoles get lines */
#jsconsole #output li.echo + li.response { border-width: 0px; }

/* hard line on new echo */
#jsconsole #output li.response + li.echo { border-width: 2px; border-color: #DFDFDF; }
#jsconsole #output li.error + li.echo { border-width: 2px; border-color: #DFDFDF; }
#jsconsole #output li.log + li.echo { border-width: 2px; border-color: #DFDFDF; }
#jsconsole #output li.info + li.echo { border-width: 2px; border-color: #DFDFDF; }

#jsconsole #output li.echo:first-child { border-width: 0;}

#jsconsole iframe { display: none; }

/* input style */
#jsconsole #exec { resize: none; font-family: monospace; position: absolute; left: 0; right: 0; border: 0; padding: 5px; outline: 0; background: #eee; -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,.3); background: #E6E8F2; color: #000; border-bottom: 1px solid #AAABB8; height: 24px; line-height: 24px; overflow: hidden; }

/* footer, credit, etc */
#jsconsole #footer { position: absolute; bottom: 0; left: 0; right: 0; height: 24px; background: #000; background-color: rgba(158, 158, 158, 0.8); color: #9E9F9E; color: rgba(158, 158, 158, 0.5); width: 100%; padding: 5px; color: #fff;  text-shadow: 1px 1px 0 #000; line-height: 24px; border-top: 1px solid #CED1CE; -webkit-transition: background-color ease-out 100ms; -moz-transition: #jsconsole background-color ease-out 100ms; -o-transition: background-color ease-out 100ms; transition: background-color ease-out 100ms; }
#jsconsole #footer:hover { background: #9E9F9E; }
#jsconsole #footer a { text-transform: lowercase; margin: 0 5px; color: #fff; text-decoration: none; text-shadow: 1px 1px 0 #000; }

/* font size control */
#jsconsole #console { top: 35px; bottom: 35px; }
#jsconsole #output li, #exec { min-height: 24px; font-size: 18px; padding: 5px; }

/* code complete visual tweaks */
#jsconsole #cursor { display: inline-block; height: 24px; min-width: 1px; outline: 0; top: 0; left: 0; z-index: 999;}
#jsconsole #exec { cursor: text; }
#jsconsole #exec .suggest { color: #999; }

/* large command input */
#jsconsole body.large #console { top: 0; right: 400px; width: auto; }
#jsconsole body.large form { right: 0; width: 400px; bottom: 0; }
#jsconsole body.large #exec { width: 390px; border-bottom: 0; top: 0; bottom: 0; height: 100%; z-index: 10; background: #E6E8F2; color: #000; -webkit-box-shadow: none; border-left: 1px solid #AAABB8; left: auto; }

/* syntax highlighting */
/** Pretty printing styles. Used with prettify.js. */

#jsconsole .str { color: #080; }
#jsconsole .kwd { color: #008; }
#jsconsole .com { color: #800; }
#jsconsole .typ { color: #606; }
#jsconsole .lit { color: #066; }
#jsconsole .pun { color: #660; }
#jsconsole .pln { color: #000; }
#jsconsole .tag { color: #008; }
#jsconsole .atn { color: #606; }
#jsconsole .atv { color: #080; }
#jsconsole .dec { color: #606; }
#jsconsole .error .str { color: #E81D20;}

/* difference display types */

/* iPhone type display */
@media screen and (max-device-width: 480px) {
/*@media screen and (max-width: 480px) {  */
  html#jsconsole, #jsconsole body { height: auto; overflow: visible; }
  #jsconsole #console { overflow: visible; bottom: 0; border-bottom: 0;  }
  #jsconsole input, #jsconsole textarea { -webkit-border-radius: 0; } /* webkit-mobile adds rounded corners :( */
  #jsconsole #footer { display: none; }

  #jsconsole #exec { font-weight: bold; padding-right: 10px; }

  #jsconsole #output li { min-height: 20px; font-size: 14px; padding: 0 5px; }
  #jsconsole #output > li > div { margin-left: 10px; line-height: 18px; }
  
  #jsconsole #output > li:last-child { padding-bottom: 0; margin-bottom: 0; }
  
  #jsconsole #output .echo { padding-top: 5px; }
  #jsconsole #output .echo span.gutter:before,
  #jsconsole #output .info span.gutter:before,
  #jsconsole #output .response span.gutter:before { font-size: 14px; line-height: 18px; height: 14px; }
  #jsconsole #output .error span.gutter:before { font-size: 18px; line-height: 18px; }
}

/* allow the debug to be printed */
@media print {
  body { overflow: auto; }
  #console { overflow: visible; }
}

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}