.type {
  display: inline-block;
}

.type.object.closed .header,
.type.object.closed .group,
.type.object.closed .group > div {
  display: inline-block;
}

.string {
  color: #4CAF50;
  white-space: nowrap;
}

.number {
  color: #0000c0;
}

.bool {
  color: #E91E63;
}

.function.function em {
  color: #1976D2;
}

.undefined,
.null {
  color: pink;
}
