.type {
  display: inline-block;
}

.string {
  color: #4CAF50
}

.number {
  color: #0000c0;
}

.bool {
  color: #E91E63;
}

.function.function em {
  color: #1976D2;
}

.undefined,
.null {
  color: pink;
}
